@(id: String)(testcaseId: String)
<div class="row unit-request-wrapper well">
	<ul class="nav nav-tabs">
		<li ><a data-toggle="tab" href="#requestTab-@id" onclick="hideMeReqType(this)">POST</a></li>
		<li class="active"><a data-toggle="tab" href="#request-@id">Request</a></li>
		<li><a data-toggle="tab" href="#resViewer-@id">Response Viewer</a></li>
		<li><a data-toggle="tab" href="#validations-@id">Validations</a></li>
		<li><a data-toggle="tab" href="#remove-id" onclick="addElement('removeReqType',this)"><span class='glyphicon glyphicon-remove'></span></a></li>
	</ul>
	<div class="tab-content">
		<div id="request-@id" class="tab-pane fade in active ">
			<form class="unit-request-wrapper" role="form"
				action="/request/create" method="POST" id="unit-request-@id">
				<div class="row unit-request-block-head">
					<div class="col-sm-4">
						<input type="text" class="form-control  id="reqName"
							name="reqName" required="true" placeholder="Request name">
					</div>
					<div class="col-sm-4">
						<input class="form-control " id="reqDescription" type="text"
							name="reqDescription" placeholder="Add Note">
					</div>

				</div>
				<div class="row unit-request-block-head">
					<div class="col-sm-8">
						<input type="text" class="form-control " id="host"
							name="requestEndPoint" required="true" placeholder="End Point">
					</div>
				</div>
				<div class="row unit-request-block-head">
					<div class="col-sm-12 text-uppercase">Authentication</div>
					<div class="col-sm-12">
						<a class="btn btn-link btn-xs" href="javascript:void(0);" onclick="addBasicAuth('@id')">
							<span class="glyphicon glyphicon-plus"></span>Add Basic
						</a >
					</div>
					<div  class="col-sm-12" id="basicAuth-@id"></div>
				</div>
				<div class="row unit-request-block-head">
					<div class="col-sm-12 text-uppercase">Headers</div>
					<div class="col-sm-12">
						<a class="btn btn-link btn-xs" href="javascript:void(0);" onclick="addElement('headerparam',this)">
							<span class="glyphicon glyphicon-plus"></span>Add Header
						</a>
					</div>
				</div>
				<div class="row unit-request-block-head">
					<div class="col-sm-12 text-uppercase">QUERY STRING</div>
					<div class="col-sm-12">
						<a class="btn btn-link btn-xs" onclick="addElement('urlparam',this)" href="javascript:void(0);">
							<span class="glyphicon glyphicon-plus"></span>Add URL Parameter
						</a>
					</div>
				</div>
				<div class="row unit-request-block-head">
					<div class="col-sm-12 text-uppercase">PARAMETERS</div>
					<div class="col-sm-12">
						<a class="btn btn-link btn-xs" onclick="addElement('formparam',this)" href="javascript:void(0);">
							<span class="glyphicon glyphicon-plus"></span>Add Form Parameter
						</a>
						<a class="btn btn-link btn-xs" onclick="addElement('jsonparam',this)" href="javascript:void(0);">
							<span class="glyphicon glyphicon-plus"></span>Add Json Body
						</a>
					</div>
				</div>
				<div class="row unit-request-block-head">
					<div class="col-sm-12">
						<a class="btn btn-primary btn-xs" onclick="saveBasicRequest('POST','@id')" href="javascript:void(0);">
							<span class="glyphicon glyphicon-floppy-save"></span> Save
						</a>
						<a class="btn btn-primary btn-xs" onclick="testBasicRequest('POST','@id')" href="javascript:void(0);">
							<span class="glyphicon glyphicon-cd"></span> Test
						</a>
					</div>
				</div>
				<input type="hidden" name="testcaseIdForReq" value="@testcaseId">
				<input type="hidden" name="basicRequestIdForReq" value="@id">				
			</form>
		</div>
		<div id="resViewer-@id" class="tab-pane fade">
		<div class="row unit-request-block-head">
			<div class="col-sm-2"><div>Response Code: </div><div><input id="resCode-@id" class="form-control"></div></div>
			<div class="col-sm-12">Response: <textarea id="resData-@id" class="form-control "></textarea></div>
			</div>
		</div>
		<div id="validations-@id" class="tab-pane fade">
			<h3>Menu 2</h3>
			<p>Some content in menu 2.</p>
		</div>
		<div id="remove-@id" class="tab-pane fade">
		</div>
	</div>
</div>