<div class="row unit-request-wrapper well" id="reqType-basicrequest.id">
	<ul class="nav nav-tabs">
		<li><a href="javascript:void(0);" onclick="hideMeReqType(this)"><span
				class="glyphicon glyphicon-chevron-down"></span> basicrequest.typeOfReq</a></li>
		<li class="active"><a data-toggle="tab" href="#details-basicrequest.id">Details</a></li>
		<li><a data-toggle="tab" href="#request-basicrequest.id">Request</a></li>
		<li><a data-toggle="tab" href="#resViewer-{{basicrequest.id}}">Response
				Viewer</a></li>
		<li><a data-toggle="tab" href="#validations-{{basicrequest.id}}">Validations</a></li>
		<li><a onclick="saveBasicRequest('UNIT','{{basicrequest.id}}')"
			href="javascript:void(0);"> <span
				class="glyphicon glyphicon-floppy-save"></span> Save
		</a></li>
		<li><a onclick="testBasicRequest('basicrequest.typeOfReq','{{basicrequest.id}}')"
			href="javascript:void(0);"> <span class="glyphicon glyphicon-cd"></span>
				Test
		</a></li>
		<li><a data-toggle="tab" href="#remove-{{basicrequest.id}}"
			onclick="removeElement('basicrequest.testcaseId','{{basicrequest.id}}')"><span
				class='glyphicon glyphicon-remove'></span></a></li>
	</ul>
	<div class="tab-content">
		<div id="request-{{basicrequest.id}}" class="tab-pane fade">
			<div class="row unit-request-block-head">
				<div class="col-sm-6">
					<input ng-model="basicrequest.endPoint" type="url"
						class="form-control" id="host" name="requestEndPoint"
						required="true" placeholder="End Point">
				</div>
				<div class="col-sm-2">
					<select name="responseType" class="form-control"
						id="responseType-{{basicrequest.id}}" ng-model="selectedName">
						<option value="JSON">Response As JSON</option>
						<option value="TEXT">Response As Test</option>
					</select>
				</div>
			</div>
			<div class="row unit-request-block-head">
				<div class="col-sm-12 text-uppercase">Authentication</div>
				<div class="col-sm-12">
					<a class="btn btn-link btn-xs" href="javascript:void(0);"
						onclick="addBasicAuth('{{basicrequest.id}}')"> <span
						class="glyphicon glyphicon-plus"></span>Add Basic
					</a>
				</div>
				<div class="col-sm-12" id="basicAuth-{{basicrequest.id}}"></div>
			</div>
			<div class="row unit-request-block-head">
				<div class="col-sm-12 text-uppercase">Headers</div>
				<div class="col-sm-12" id="headerParams">
					<a class="btn btn-link btn-xs" href="javascript:void(0);"
						onclick="addElement('headerparam',this)"> <span
						class="glyphicon glyphicon-plus"></span>Add Header
					</a>
				</div>
				<div class="col-sm-12 text-uppercase"
					ng-repeat="(key,value) in basicrequest.reqHeader">
					<div class='col-sm-12'>
						<div class='col-sm-2'>
							<input value="{{key}}" required='true' type='text'
								class='form-control' id='headerKey' name='headerKey'
								placeholder='Header variable key'>
						</div>
						<div class='col-sm-4'>
							<input value="{{value}}" required='true' type='text'
								class='form-control' id='headerValue' name='headerValue'
								placeholder='Value'>
						</div>
						<div class='col-sm-1'>
							<a onclick='removeThisParam(this)' href='javascript:void(0);'
								class='btn btn-link btn-xs' id='removeParam' on><span
								class='glyphicon glyphicon-remove'></span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row unit-request-block-head">
				<div class="col-sm-12 text-uppercase">QUERY STRING</div>
				<div class="col-sm-12" id="queryParams">
					<a class="btn btn-link btn-xs"
						onclick="addElement('urlparam',this)" href="javascript:void(0);">
						<span class="glyphicon glyphicon-plus"></span>Add URL Parameter
					</a>
				</div>
			</div>
			basicrequest.if(typeOfReq == "POST"){
			<div class="row unit-request-block-head">
				<div class="col-sm-12 text-uppercase">PARAMETERS</div>
				<div class="col-sm-12" id="paramsToPost">
					<a class="btn btn-link btn-xs"
						onclick="addElement('formparam',this)" href="javascript:void(0);">
						<span class="glyphicon glyphicon-plus" id="addFormParamToPost"></span>Add
						Form Parameter
					</a> <a class="btn btn-link btn-xs"
						onclick="addElement('jsonparam',this)" href="javascript:void(0);">
						<span class="glyphicon glyphicon-plus" id="addBodyToPost"></span>Add
						Json Body
					</a>
				</div>
			</div>
			}
			<div class="row unit-request-block-head">
				<div class="col-sm-12">
					<a class="btn btn-primary btn-xs"
						onclick="saveBasicRequest('UNIT','{{basicrequest.id}}')"
						href="javascript:void(0);"> <span
						class="glyphicon glyphicon-floppy-save"></span> Save
					</a> <a class="btn btn-primary btn-xs"
						onclick="testBasicRequest('basicrequest.typeOfReq','{{basicrequest.id}}')"
						href="javascript:void(0);"> <span
						class="glyphicon glyphicon-cd"></span> Test
					</a>
				</div>
			</div>
			<input type="hidden" name="testcaseIdForReq" value="basicrequest.testcaseId">
			<input type="hidden" name="basicRequestIdForReq" value="{{basicrequest.id}}">
		</div>
		<div id="resViewer-{{basicrequest.id}}" class="tab-pane fade">
			<div class="row unit-request-block-head" id="resViewer-astext-{{basicrequest.id}}">
				<div class="col-sm-2">
					<div>Response Code:</div>
					<div>
						<input id="resCode-{{basicrequest.id}}" class="form-control" disabled="disabled">
					</div>
				</div>
				<div class="col-sm-12">
					Response:
					<textarea id="resData-{{basicrequest.id}}" class="form-control" disabled="disabled"></textarea>
				</div>
			</div>
			<div class="row unit-request-block-head" id="resViewer-asjson-{{basicrequest.id}}">
				<div class="col-sm-12">Formated response:</div>
				<div class="col-sm-8 response-viewer-asjson"
					id="formatedResponse-{{basicrequest.id}}"></div>
				<div class="col-sm-4" id="keysResponse-{{basicrequest.id}}">
					<div class="col-sm-12">
						<a class="btn btn-primary btn-xs"
							onclick="responseDo('addval','{{basicrequest.id}}')" href="javascript:void(0);">
							<span class="glyphicon glyphicon-cd"></span> Add to Validation
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="validations-{{basicrequest.id}}" class="tab-pane fade">
			<h3>Menu 2</h3>
			<p>Some content in menu 2.</p>
		</div>
		<div id="details-{{basicrequest.id}}" class="tab-pane fade in active">
			<div class="row unit-request-block-head">
				<div class="col-sm-12">
					<div class="col-sm-4">
						<input type="text" class="form-control  id="
							reqName"
							name="reqName" required="true"
							placeholder="Request name" ng-model="basicrequest.reqName">
					</div>
					<div class="col-sm-4">
						<input class="form-control " id="reqDescription" type="text"
							name="reqEnvName" placeholder="enviroment name"
							ng-model="basicrequest.envName">
					</div>
				</div>
				<div class="col-sm-12">

					<div class="col-sm-8">
						<textarea class="form-control" placeholder="description"
							name="reqDes" ng-model="basicrequest.description"></textarea>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-8">
						<input class="form-control " id="reqDescription" type="text"
							name="reqKeywords" placeholder="Add keywords (comma seperated)"
							ng-model="basicrequest.keywords">
					</div>
				</div>
			</div>
		</div>
		<div id="remove-{{basicrequest.id}}" class="tab-pane fade"></div>
	</div>
</div>